# disable python warnings if they annoy you
ignore_warnings: False

# ask user for tags if none are provided in the config
enforce_tags: True

# pretty print config tree at the start of the run using Rich library
print_config: True

codecarbon:
  _target_: codecarbon.EmissionsTracker
  output_file: ${paths.data_dir}/emissions_zeroshot.csv
  log_level: CRITICAL
